:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --typography: "Manrope", sans-serif;
}
html {
  font-size: 13px;
}
body {
  background-color: var(--light-grayish-blue);
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: var(--typography);
}
.main-container {
  margin-bottom: 2rem;
}
.card {
  width: 60rem;
  min-height: 23rem;
  max-width: 90vw;
  background-color: #fff;
  display: flex;
  border-radius: 1rem;
  box-shadow: 1px 1px 50px hsl(210, 30%, 89%);
}
.card > img {
  width: 40%;
  object-fit: cover;
  object-position: left top;
  border-radius: 1rem 0 0 1rem;
}
.card-text {
  padding: 3rem;
}
.card-text h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: var(--very-dark-grayish-blue);
}
.card-text > p {
  color: var(--desaturated-dark-blue);
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin: 0;
}
.card-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.card-profile {
  display: flex;
}
.card-profile > img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.card-profile-text {
  align-self: center;
}
.card-profile-text p {
  margin: 0.3rem 1rem;
}
#name {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}
#date {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--desaturated-dark-blue);
}
#share-icon {
  font-size: 1.5rem;
  padding: 0.7rem;
  border-radius: 50%;
  color: var(--very-dark-grayish-blue);
  background-color: var(--light-grayish-blue);
}
#share-icon:hover,
.share-active {
  color: white !important;
  background-color: var(--very-dark-grayish-blue) !important;
  transition: 0.5s;
}
.display-none {
  display: none !important;
}
.share-container {
  width: 17rem;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 1.2rem 3rem;
  background-color: var(--very-dark-grayish-blue);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 20px hsl(210, 16%, 81%);
}
.share-container p {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding-right: 0.5rem;
  color: var(--grayish-blue);
}
.share-container .social {
  font-size: 2rem;
  color: var(--light-grayish-blue);
  padding: 0 0 0 1.6rem;
}
.share-container .social:hover {
  color: hsl(209, 49%, 89%);
}
.tip {
  display: block;
  position: absolute;
  top: 4.4rem;
  left: calc(10rem + 5px);
  width: 1px;
  height: 25px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid var(--very-dark-grayish-blue);
}
@media only screen and (max-width: 960px) {
  body {
    display: unset;
    margin: 0;
  }
  .main-container {
    margin-top: 2rem;
  }
  .card {
    width: 35rem;
    margin: auto;
    flex-wrap: wrap;
  }
  .card-radius {
    border-radius: 1rem 1rem 0 0;
  }
  .card > img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: contain;
  }
  .card-text {
    width: 100%;
    padding-bottom: 2rem;
  }
  .share-container {
    position: unset;
    margin: 0 auto;
    padding: 1.8rem 3rem;
    width: 29rem;
    max-width: 90vw;
    border-radius: 0 0 1rem 1rem;
  }
  .display-mobile-none {
    display: none;
  }
  #share-icon2 {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--very-dark-grayish-blue);
    background-color: hsla(210, 46%, 95%, 80%);
  }
  #share-icon2:hover {
    background-color: var(--light-grayish-blue);
  }
}
@media only screen and (min-width: 961px) {
  .display-desktop-none {
    display: none;
  }
}
