body {
  position: relative;
}
.share-container {
  height: 30px;
  width: 50px;
  background-color: wheat;
  position: absolute;
}
.tip {
  display: block;
  position: absolute;
  top: 30px;
  left: 24.5px;
  width: 1px;
  height: 20px;
  border-left: 30px solid #fff;
  border-right: 30px solid #fff;
  border-top: 25px solid #f00;
}
