:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --typography: "Manrope", sans-serif;
}
html {
  font-size: 13px;
}
body {
  position: relative;
}
.share-container {
  height: 30px;
  width: 50px;
  background-color: wheat;
  position: absolute;
}
.tip {
  display: block;
  position: absolute;
  top: 30px;
  left: 24.5px;
  width: 1px;
  height: 20px;
  border-left: 30px solid #fff;
  border-right: 30px solid #fff;
  border-top: 25px solid #f00;
}
